*.pth
efficientNet_B0.onnx
1.jpg
1_analizzato.json
1_analizzato.png
2.jpg
/dataset_marburgo/dataset_segmentation
/avian_yolo_dataset/images
/avian_yolo_dataset/labels
*.pyc
/dataset_marburgo/runs
/dataset_marburgo/runs
.DS_Store
